<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.us.colometer.app">

    <!-- Uses permisions -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- User feature permisions -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />  <!-- I don't actually use the fingerprint support now, this is here to remind me -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".Settings" />
        <activity android:name=".SettingsValueSelection" />
        <activity
            android:name=".PrincipalScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="es.us.colometer.PrincipalScreen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="es.us.colometer.regressionlinecalculator"
            android:label="MaLISA">
            <intent-filter>
                <action android:name="es.us.colometer.regressionlinecalculator" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="es.us.colometer.first_screen"
            android:label="MaLISA"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="es.us.colometer.DisplayConcentration"
            android:label="MaLISA"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="es.us.colometer.DisplayConcentration" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
